<div class="container">
  <h1>Signup</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <!----------------------------------- Name Feild---------------------------------------------- -->
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="nameHelp"
        placeholder="Enter Name">
    </div>

    <!----------------------------------- Email Feild---------------------------------------------- -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter email">
      <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
        Enter your email.
      </div>
      <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
        Enter valid email.
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <!----------------------------------- Password Feild---------------------------------------------- -->
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
        placeholder="Password">
      <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
        Enter your password.
      </div>
      <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.pattern">
        Enter password
      </div>
    </div>
    <!----------------------------------- Buttone Signup---------------------------------------------- -->
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</div>
