.popupclass {
    margin: 100px 0 0 0px;
}

.mainclass {
    width: 799px;
    border: 2px solid #0f1010;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: auto;
}

.setclass {
    width: 200px;
    margin: -58px 0 0 271px;
    height: 43px;

}

.toogleclass {
    margin: 0 0 0 17px;
}

.plusicon {
    width: 40px;


}


.emptyShedule {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 17%;
}

.newaddform {
    margin-left: 42%;
    margin-top: -2%;
}

.deleteButtone{
    margin-left: 4%;
    margin-top: -8%;
}

.badgeclass{
    margin-top: -8%;
    margin-left: 82%;
}
span.badge.badge-light {
    margin: 0 0 0 10px;
}
