<div class="footer container-fluid"> 

    <section class="trial-block shadow3" id="ContactUs" style="margin: 0px 0 0 0px;">
        <div class="height450">
            <div class="social-overlap process-scetion mt100">
             <div class="container">
                 <div class="row justify-content-center">
                     <div class="col-md-10">
                         <div class="social-bar">
                             <div class="social-icons mb-3 iconpad text-center">
                                
                                 
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-facebook"></i></a>
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-google"></i></a>
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-twitter"></i></a>
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-instagram"></i></a>
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-linkedin"></i></a>
                                 <a href="https://www.pinterest.co.uk/CommixtureSoft" target="_blank" class="slider-nav-item"><i class="fa fa-pinterest"></i></a>
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-skype"></i></a>                                
                                 <a href="#" class="slider-nav-item"><i class="fa fa-youtube"></i></a>
                                 <a href="#" class="behance slider-nav-item"><i class="fa fa-behance"></i></a>
                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fa fa-dribbble"></i></a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        </div> 
    </section>
</div>