<body>

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3 style="color:black">Angular<span>NodeJs</span></h3>

            <p class="footer-links" style="color:black">
                <a [routerLink]="['/home']">Home</a>
                ·
                <a [routerLink]="['/sheduleemail']">Add Shedule</a>
                ·
            </p>

            <p class="footer-company-name">AngularNodejs &copy; 2020</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker" ></i>
                <p style="color:black"><span> 21 Revolution Street</span> Surat, India</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p style="color:black">+1 555 123456</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">contact@angularnode.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

</body>