<!-- details card section starts from here -->
<section class="details-card">
    <div class="container" *ngIf='getallblog'>
        <div class="row">
            <div class="col-md-4" *ngFor="let item of getallblog">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/tech" alt="">
                        <span>
                            <h4>{{item.title}}</h4>
                        </span>
                    </div>
                    <div class="card-desc">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <h3>{{item.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</h3>
                        <a href="#" class="btn-card">Read</a>
                        <i class="fa fa-comment fa-3x" aria-hidden="true" (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></i>
                        <i class="fa fa-thumbs-up fa-3x" aria-hidden="true" (click)='onlikeClick()'></i>
                        <div id="collapseExample" [ngbCollapse]="isCollapsed">
                            <div class="card">
                                <div class="card-body">
                                    <div class="search">
                                        <form [formGroup]="commentForm" (ngSubmit)="addcomment(item._id)">
                                        <input placeholder="Write a comment" formControlName="comment"  type="text">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- details card section starts from here -->