<div class="container">
    <div class="data">
        <div class="row " *ngIf='getallblog '>
            <div class="col-md-8">

                <div class="card mb-4 " *ngFor='let data of getallblog | filter:searchText'>
                    <img class="card-img-top " src="https://placeimg.com/620/200/tech" alt="Card image cap">
                    <div class="card-body">
                        <!---------------------- title blog ---------------------------------->
                        <h2 class="card-title linkclass">{{data.title}}</h2>

                        <!---------------------- description blog ---------------------------------->
                        <p class="card-text descriptionclass">{{data.description}}</p>

                        <!---------------------- read more blog ---------------------------------->
                        <p>
                            <button type="button" (click)="getsingleblog(data._id)" class="btn btn-outline-primary">
                                Read More
                            </button>


                        </p>

                        <!---------------------- likes ---------------------------------->
                        <div class="hexagon-wrapper" style="margin-left: 90%;margin-top: -8%;">
                            <div class="hexagon">
                                <i class="fa fa-heart-o fa-3x" aria-hidden="true" (click)='onlikeClick(data._id)'></i>
                            </div>
                            <span style="margin-top: 70%;">{{data.likes?.length}}</span>
                        </div>
                    </div>

                    <!---------------------- date and author name blog ---------------------------------->
                    <div class="card-footer text-muted">
                        Posted on {{data.createdAt | date:'yyyy-MM-dd HH:mm:ss' }} by
                        <a href="#">{{data.authorName}}</a>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-md-4">

            <!---------------------- search blog ---------------------------------->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" type="text" name="search" [(ngModel)]="searchText"
                            placeholder="Search for Blog...">
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>